[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fairseq = "*"
nltk = "*"
transformers = "*"
tensorboardx = "*"
tokenizers = "~=0.4.2"

[requires]
python_version = "3.7"
