boto3==1.12.36
botocore==1.15.36
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
docutils==0.15.2
filelock==3.0.12
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==1.2.0
MarkupSafe==1.1.1
nltk==3.4.5
numpy==1.18.2
python-dateutil==2.8.1
regex==2020.4.4
requests==2.23.0
s3transfer==0.3.3
sacremoses==0.0.38
sentencepiece==0.1.85
six==1.14.0
tokenizers==0.5.2
torch==1.4.0
tqdm==4.45.0
transformers==2.7.0
urllib3==1.25.8
Werkzeug==1.0.1
